# slim down the published tarball (the whitelist is package.json "files")
vendor/mineflayer/test
vendor/mineflayer/docs
vendor/mineflayer/examples
vendor/mineflayer/.github
vendor/mineflayer/node_modules
src
test
examples
tsconfig.json
.gitpod.yml
.github
